.HamburgerMenu {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 10px 0px;
  box-sizing: border-box;
}
.HamburgerMenu div {
  height: 3px;
  background-color: white;
}

@media (min-width: 600px) {
  .HamburgerMenu {
    display: none;
  }
}
